<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Task Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(null, 'add', null)">Add Task <span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchTasks(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search tasks..." required>
       </form>
    </div>
  </nav>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let task of tasks" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-10 card-title align-self-center mb-0">
               <h5>{{task?.title}}</h5>
            </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-list-alt float-right" style="color:black"></i>{{task?.category}}</li>
             <li class="list-group-item"><i class="fa fa-calendar float-right" style="color:black"></i>{{task?.dueDate}}</li>
             <li class="list-group-item">Priority: {{task?.priority}}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a (click)="onOpenModal(task, 'edit', editAmount)" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(task, 'delete', null)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Add Task Modal -->
  <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addTaskModalLabel">Add Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form autocomplete="off" #addForm="ngForm" (ngSubmit)="onAddTask(addForm)">
            <div class="form-group">
               <label for="title">Title</label>
               <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
            </div>
            <div class="form-group">
               <label for="category">Category</label>
               <input type="text" ngModel name="category" class="form-control" id="category" placeholder="Category" required>
            </div>
            <div class="form-group">
               <label for="dueDate">Due Date</label>
               <input type="date" ngModel name="dueDate" class="form-control" id="dueDate" min="{{date | date:'yyyy-MM-dd'}}" placeholder="DueDate" required>
            </div>
            <div class="form-group">
               <label for="priority">Priority: <output #addAmount>5</output></label>
               <input type="range" ngModel name="priority" class="form-control" id="addPriority" placeholder="Priority"
                min="1" max="10" #addRange value="5" style="padding:0;" (input)="addAmount.value = addRange.value" required> 
            </div>
            <div class="form-group">
               <label for="description">Description</label>
               <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Description" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-task-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  
  <!-- Edit Modal -->
  <div class="modal fade" id="updateTaskModal" tabindex="-1" role="dialog" aria-labelledby="taskEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateTaskModalLabel">Edit Task {{editTask?.title}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form autocomplete="off" #editForm="ngForm" id="editForm">
                <div class="form-group">
                   <label for="title">Title</label>
                   <input type="text" ngModel="{{editTask?.title}}" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title">
                </div>
                <input type="hidden" ngModel="{{editTask?.id}}" name="id" class="form-control" id="id" placeholder="Id">
                <div class="form-group">
                   <label for="category">Category</label>
                   <input type="text" ngModel="{{editTask?.category}}" name="category" class="form-control" id="category" placeholder="Category">
                </div>
                <div class="form-group">
                  <label for="category">Due Date</label>
                  <input type="date" ngModel="{{editTask?.dueDate}}" name="dueDate" class="form-control" min="{{date | date:'yyyy-MM-dd'}}" id="dueDate" placeholder="DueDate">
               </div>
               <div class="form-group">
                  <label for="priority">Priority: <output #editAmount>{{editTask?.priority}}</output></label> 
                  <input type="range" ngModel="{{editTask?.priority}}" name="priority" class="form-control" id="editPriority" placeholder="Priority"
                   min="1" max="10" #editRange value="{{editTask?.priority}}" style="padding:0;" (input)="editAmount.value = editRange.value;" required>
               </div>
                <div class="form-group">
                   <label for="description">Description</label>
                   <input type="text" ngModel="{{editTask?.description}}" name="description" class="form-control" id="description" placeholder="Description">
                </div>
                <div class="modal-footer">
                   <button type="button" (click)="onCloseModal()" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateTask(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Task</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete task {{deleteTask?.title}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteTask(deleteTask?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no tasks -->
  <div *ngIf="tasks?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO TASKS!</h4>
    <p>No Tasks were found.</p>
  </div>
  </div>